PORT=3001
MEKARI_QONTAK_USERNAME="your_email@example.com"
MEKARI_QONTAK_PASSWORD="your_password"
MEKARI_QONTAK_CLIENT_ID="your_client_id"
MEKARI_QONTAK_CLIENT_SECRET="your_client_secret"
MEKARI_QONTAK_CHANNEL_ID="your_channel_id"
MEKARI_QONTAK_API_TOKEN="your_api_token"
DATABASE_URL="file:./dev.db?connection_limit=1&busy_timeout=10000"
